page-contact {
    .avatar{
        img{
            width: 70px;
            height: 70px;
        }
    }
    .bio{
        margin-top: 15px;
        p{
            color: black;
        }
    }


        
    }
    .bt{
        margin-top: -140px;
        margin-bottom: 300px;
        margin-left: 140px;
        p{
            font-size: 08pt;
            color: black;
        }
        
    }
    .ed1{
        margin-left: 15px;
        width: 30%;
        margin-top: -280px;
        margin-bottom: 100px;
    }
    .ed2{
        width: 50%;
        margin-top: -280px;
        margin-bottom: 100px;
    }
    .ed3{
        width: 10%;
        margin-top: -280px;
        margin-bottom: 100px;
    }
    .imagem{
        margin-top: -100px;
    }


